--
-- PostgreSQL database dump
--

-- Dumped from database version 13.3 (Debian 13.3-1.pgdg100+1)
-- Dumped by pg_dump version 13.3 (Debian 13.3-1.pgdg100+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fldUpdatedAt = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

--
-- Name: update_vehicles_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_vehicles_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fldUpdatedAt = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_vehicles_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: drivers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drivers (
    fldid uuid DEFAULT gen_random_uuid() NOT NULL,
    fldfirstname character varying(100) NOT NULL,
    fldlastname character varying(100) NOT NULL,
    fldmiddlename character varying(100),
    fldphone character varying(20) NOT NULL,
    fldemail character varying(255),
    fldbirthdate date,
    flddriverlicensenumber character varying(50) NOT NULL,
    flddriverlicenseissuedate date NOT NULL,
    flddriverlicenseexpirydate date NOT NULL,
    flddriverlicensephoto text,
    flddriverlicensescan text,
    fldpassportseries character varying(4),
    fldpassportnumber character varying(6),
    fldpassportissuedate date,
    fldpassportphoto text,
    fldpassportscan text,
    fldaddress text,
    fldexperienceyears integer DEFAULT 0,
    fldstatus character varying(20) DEFAULT 'active'::character varying,
    fldcreatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fldupdatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fldphoto text,
    CONSTRAINT drivers_fldexperienceyears_check CHECK ((fldexperienceyears >= 0)),
    CONSTRAINT drivers_fldstatus_check CHECK (((fldstatus)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'blocked'::character varying])::text[])))
);


ALTER TABLE public.drivers OWNER TO postgres;

--
-- Name: TABLE drivers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.drivers IS 'Table storing driver information';


--
-- Name: COLUMN drivers.fldid; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldid IS 'Unique identifier for the driver';


--
-- Name: COLUMN drivers.fldfirstname; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldfirstname IS 'Driver first name';


--
-- Name: COLUMN drivers.fldlastname; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldlastname IS 'Driver last name';


--
-- Name: COLUMN drivers.fldmiddlename; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldmiddlename IS 'Driver middle name (patronymic)';


--
-- Name: COLUMN drivers.fldphone; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldphone IS 'Driver phone number (unique)';


--
-- Name: COLUMN drivers.fldemail; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldemail IS 'Driver email address (unique)';


--
-- Name: COLUMN drivers.fldbirthdate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldbirthdate IS 'Driver date of birth';


--
-- Name: COLUMN drivers.flddriverlicensenumber; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.flddriverlicensenumber IS 'Driver license number (unique)';


--
-- Name: COLUMN drivers.flddriverlicenseissuedate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.flddriverlicenseissuedate IS 'Date when driver license was issued';


--
-- Name: COLUMN drivers.flddriverlicenseexpirydate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.flddriverlicenseexpirydate IS 'Date when driver license expires';


--
-- Name: COLUMN drivers.flddriverlicensephoto; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.flddriverlicensephoto IS 'Path to driver license photo file';


--
-- Name: COLUMN drivers.flddriverlicensescan; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.flddriverlicensescan IS 'Path to driver license scan file';


--
-- Name: COLUMN drivers.fldpassportseries; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldpassportseries IS 'Passport series (4 digits)';


--
-- Name: COLUMN drivers.fldpassportnumber; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldpassportnumber IS 'Passport number (6 digits)';


--
-- Name: COLUMN drivers.fldpassportissuedate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldpassportissuedate IS 'Date when passport was issued';


--
-- Name: COLUMN drivers.fldpassportphoto; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldpassportphoto IS 'Path to passport photo file';


--
-- Name: COLUMN drivers.fldpassportscan; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldpassportscan IS 'Path to passport scan file';


--
-- Name: COLUMN drivers.fldaddress; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldaddress IS 'Driver residential address';


--
-- Name: COLUMN drivers.fldexperienceyears; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldexperienceyears IS 'Years of driving experience';


--
-- Name: COLUMN drivers.fldstatus; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldstatus IS 'Driver status: active, inactive, or blocked';


--
-- Name: COLUMN drivers.fldcreatedat; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldcreatedat IS 'Timestamp when record was created';


--
-- Name: COLUMN drivers.fldupdatedat; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldupdatedat IS 'Timestamp when record was last updated';


--
-- Name: COLUMN drivers.fldphoto; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.drivers.fldphoto IS 'Path to driver profile photo file (base64 encoded)';


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicles (
    fldid uuid DEFAULT gen_random_uuid() NOT NULL,
    fldgaragenumber character varying(50) NOT NULL,
    fldvin character varying(17) NOT NULL,
    fldheight numeric(10,2) NOT NULL,
    fldtype character varying(100),
    fldpower integer,
    fldprice5 numeric(10,2),
    fldprice22 numeric(10,2),
    flddescription text,
    fldbrand character varying(200),
    fldmachine character varying(200),
    fldlength numeric(10,2),
    fldwidth numeric(10,2),
    fldheightts numeric(10,2),
    fldwidthwithsupports numeric(10,2),
    fldmass numeric(10,2),
    fldcradlewidthfolded numeric(10,2),
    fldcradlewidthextended numeric(10,2),
    fldcradlelengthfolded numeric(10,2),
    fldcradlelengthextended numeric(10,2),
    fldimgarray jsonb DEFAULT '[]'::jsonb,
    fldmainimageindex integer DEFAULT 1,
    fldspecial text,
    fldrostechreg boolean DEFAULT false,
    fldstatus character varying(20) DEFAULT 'active'::character varying,
    fldcreatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fldupdatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.vehicles OWNER TO postgres;

--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: drivers drivers_flddriverlicensenumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_flddriverlicensenumber_key UNIQUE (flddriverlicensenumber);


--
-- Name: drivers drivers_fldemail_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_fldemail_key UNIQUE (fldemail);


--
-- Name: drivers drivers_fldphone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_fldphone_key UNIQUE (fldphone);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (fldid);


--
-- Name: vehicles vehicles_fldgaragenumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_fldgaragenumber_key UNIQUE (fldgaragenumber);


--
-- Name: vehicles vehicles_fldvin_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_fldvin_key UNIQUE (fldvin);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (fldid);


--
-- Name: idx_drivers_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_created_at ON public.drivers USING btree (fldcreatedat);


--
-- Name: idx_drivers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_email ON public.drivers USING btree (fldemail);


--
-- Name: idx_drivers_first_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_first_name ON public.drivers USING btree (fldfirstname);


--
-- Name: idx_drivers_last_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_last_name ON public.drivers USING btree (fldlastname);


--
-- Name: idx_drivers_license; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_license ON public.drivers USING btree (flddriverlicensenumber);


--
-- Name: idx_drivers_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_phone ON public.drivers USING btree (fldphone);


--
-- Name: idx_drivers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_drivers_status ON public.drivers USING btree (fldstatus);


--
-- Name: idx_vehicles_brand_height; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicles_brand_height ON public.vehicles USING btree (fldbrand, fldheight);


--
-- Name: idx_vehicles_garage_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicles_garage_number ON public.vehicles USING btree (fldgaragenumber);


--
-- Name: idx_vehicles_height; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicles_height ON public.vehicles USING btree (fldheight);


--
-- Name: idx_vehicles_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicles_status ON public.vehicles USING btree (fldstatus);


--
-- Name: idx_vehicles_vin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehicles_vin ON public.vehicles USING btree (fldvin);


--
-- Name: vehicles trigger_vehicles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_vehicles_updated_at BEFORE UPDATE ON public.vehicles FOR EACH ROW EXECUTE FUNCTION public.update_vehicles_updated_at();


--
-- Name: drivers update_drivers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_drivers_updated_at BEFORE UPDATE ON public.drivers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- PostgreSQL database dump complete
--

