# MySQL Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=u3424187_root_avtovyshkin
DB_PASSWORD=JavaScript6315
DB_NAME=u3424187_avtovyshkin

# Backend Configuration
SERVER_PORT=8082

# Frontend Configuration
FRONTEND_PORT=5173
